<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%= link_to "regresar", articles_path %>

<%= link_to "editar", edit_article_path(@article) %>

<%= link_to "eliminar", article_path(@article),
            method: :delete,
            data: { confirm: "¿Estas seguro? :o "}%>
